.parent {
  background: #f1f5f9;
  height: 100vh;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parentchild {
  width: 90%;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.buttons button {
  width: 10em;
  background: #064e3b;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 1em;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:last-child {
  margin-right: 0;
}

.buttons button.activeButton {
  background: #627d6e;
}

.upload {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-left: 9px;
  color: #ffffff;
}

.log {
  margin-left: auto;
}

.iconpagename {
  display: flex;
  align-items: center;
}

.pageName {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-left: 0.5em;
}

.icon {
  font-size: 1.5em;
}

.content {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 950px) {
  .parent {
    padding: 0.5em;
  }
}
