.parent {
  background-image: url("../../../assets/png/student1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  height: 100vh;
}

.headone {
  color: var(--black, #00040f);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  padding-top: 2.7em;
}
.logoimg {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.middlepic {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 1em;

  img {
    width: 500px;
    height: 400px;
  }
}

.disctwo {
  overflow-y: scroll;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
}

.insideDisc {
  border-radius: 16px;
  justify-content: center;
  margin: auto;
  width: 50%;
  background: #fff;
  padding: 10px;
  gap: 8px;
}

.inputted {
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.headwelcome {
  color: #627d6e;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  img {
    width: 76px;
    height: 50px;
  }
}
.rowname {
  color: var(--grey-text, #999);
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.035px;
  margin-top: 1.7em;
}

.calculatorinput {
  width: 100%;
  height: 50px;
  margin-top: 0.4em;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--grey-50, #ccc);
  background: var(--white-full, #fff);
  padding: 0.5em;
  &:focus {
    border-color: #627d6e;
    outline: none;
  }
}
.calculatorinput[type="number"]::-webkit-inner-spin-button,
.calculatorinput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}


// .calculatorinputgroup:focus {
//   outline: none;
// }

// .calculatorinputgroup {
//   border: none;
// }
.forget {
  color: #627d6e;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  justify-content: end;
  align-items: end;
  float: right;
  cursor: pointer;
}

.requestbut {
  justify-content: center;
  align-items: center;
  margin-top: 2.7em;
}

.btnrequest {
  gap: 10px;
  border: none;
  height: 44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  background: #052e16;
  border-radius: 10px;
}

.btnrequest:hover {
  background: #627d6e;
  color: #ffffff;
}

.donthave {
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 1em;

  span {
    color: #627d6e;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
}

.visibility {
  border: none;
  background-color: transparent;
  padding-right: 0.8em !important;
  color: black;
  background-color: #00040f;
}

.group {
  height: 50px !important;
  width: 100% !important;
  margin-top: 0.4em !important;
  border-radius: 8px !important;
  border: 1px solid var(--grey-50, #ccc) !important;
  background: var(--white-full, #fff) !important;
  padding: 0.5em !important;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .parent {
    position: fixed;
    height: 100vh;
    width: 100%;
  }
  .discone {
    display: none;
    position: fixed;
  }
  .disctwo {
    width: 100%;
    padding: auto;
  }
  .insideDisc {
    width: 100%;
    padding: 2px;
    gap: 4px;
  }

  .arrowstyle {
    display: none;
  }
}
